/* common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::-webkit-scrollbar {
    display: none;
  }
body{
    background-color: #141414;
    font-family: 'Martel Sans', sans-serif;
}
ul{
    list-style: none;  
}
a{
    text-decoration: none;
}
#page-container{
    width: 1400px;
    margin: 0 auto;
}
/* end common */

/* navbar */
header nav{
    display: flex;
    justify-content: space-between;
    height: 68px;
    border-bottom: 1px solid white;
}
header nav ul{
    display: flex;
}

/* search */
header nav input{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #141414;
    padding: 5px;
    color: white;
}
header nav input:focus {
    outline: none;
}
/* end search */

/* logo */
.logo img{
    width: 100px;
    height: 30px;
    margin: 0 15px;
}
/* end logo */

header nav ul li{
    padding: 18px 10px;
}
header nav ul li a{
    color: white;
}
header nav ul li a i{
    font-size: 26px;
}
/* end navbar */

/* main */

.row-title{
    color: white;
    display: block;
    padding: 10px 10px;
}

/* film cards */
.content-container{
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}
.card{
    margin: 10px 10px;
}
.content-img-container{
    width: 250px;
    height: 300px;
    background-color: #141414;
}
.content-img-container img{
    width: 100%;
    height: 100%;
}
.content-img-container:hover .content-image{ 
    cursor: pointer;
    opacity: 0.1;
}

/* hover: content description */
.content-description{
    display: none;
    text-align: center;
    max-width: 100%;
    color: white;
    position: relative;
    bottom: 310px;
    padding: 0 5px;
}
.content-img-container:hover .content-description{
    display: block;
    cursor: pointer;
}
.content-description h2{
    font-weight: 700;
}
.content-description p:first-of-type{
    padding-top: 20px;
}
.content-description p{
    color: grey;
}
.content-description p span{
    color: white;
}
.content-description .flag-language{
    width: 18px;
    height: 18px;
    vertical-align: sub;
}
/* end hover: film description */
/* end film cards */

#topRated-content h2:first-of-type{
    color: white;
}
/* end main */
