/* common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #141414;
    font-family: 'Martel Sans', sans-serif;
}
ul{
    list-style: none;  
}
a{
    text-decoration: none;
}
#page-container{
    width: 1400px;
    margin: 0 auto;
}
/* end common */

/* navbar */
header nav{
    display: flex;
    justify-content: space-between;
    height: 68px;
    border-bottom: 1px solid white;
}
header nav ul{
    display: flex;
}

/* search */
header nav input{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #141414;
    padding: 5px;
    color: white;
}
/* end search */

/* logo */
.logo img{
    width: 100px;
    height: 30px;
    margin: 0 15px;
}
/* end logo */

header nav input:focus {
    outline: none;
  }
header nav ul li{
    padding: 18px 10px;
}
header nav ul li a{
    color: white;
}
header nav ul li a i{
    font-size: 26px;
}
/* end navbar */

/* main */
.film-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.film-card{
    margin: 20px 0;
}
.film-img-container{
    width: 250px;
    height: 300px;
    background-color: #141414;
}
.film-img-container img{
    width: 100%;
    height: 100%;
}
.film-img-container:hover img{ 
    cursor: pointer;
    opacity: 0.1;
}
.film-description{
    display: none;
    text-align: center;
    max-width: 100%;
    color: white;
    position: relative;
    bottom: 300px;
    padding: 20px 5px 0 5px;
}
.film-img-container:hover .film-description{
    display: block;
    cursor: pointer;
}
.film-description h2{
    font-weight: 700;
}
.film-description p:first-of-type{
    padding-top: 20px;
}
.film-description p{
    color: grey;
}
.film-description p span{
    color: white;
}
/* end main */
